*{
    margin: 0px;
    padding: 0px;
}
.header{
    text-align: center;
    background-color: #ad4766;
    color:rgb(13, 11, 15);
    padding: 15px;
}
.box{
    border-color: rgb(12, 17, 17);
    border-width: 4px;
    border-style:solid;
    display:inline-block;
    width: 230px;
    height: 300px;
    text-align:center;
}
.box1{
      width:400px;
      text-align:center;
      align-items:center;
      margin:10px;
      margin-top:20px;
      margin-left:400px;
}
.box2{
    width:400px;
    text-align:top-right;
    align-items:top-right;
    margin:10px;
    margin-top:5px;
    margin-left:100px;

}
.box3{
    background-color: #ad4766;
    color: rgb(7, 4, 6);
    padding: 15px;
    text-align:center;
}